<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Admin<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
						{{#nav-link-to 'admin.invitations' }}
						<a href="">invitations</a>{{/link-to}}
						{{#nav-link-to 'admin.contacts.index' }}
						<a href="">contacts</a>{{/link-to}}
						{{#nav-link-to 'admin.seeder.index' }}
						<a href="">seeder</a>{{/link-to}}
          </ul>
        </li>
      </ul>
