<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Admin<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
						{{#link-to 'admin.invitations' tagName="li"}}
						<a href="">invitations</a>{{/link-to}}
						{{#link-to 'admin.contacts.index' tagName="li"}}
						<a href="">contacts</a>{{/link-to}}
          </ul>
        </li>
      </ul>
