{{#nav-link-to 'index'}}<a href="">Home</a>{{/link-to}}
{{#nav-link-to 'libraries' }}<a href="">Libraries</a>{{/link-to}}
{{#nav-link-to 'about' }}<a href="">About</a>{{/link-to}}
{{#nav-link-to 'contact.new' }}<a href="">Contact</a>{{/link-to}}
{{#if session.isAuthenticated}}
	{{#nav-link-to 'secret' }}<a href="">Secrets</a>{{/link-to}}
		<li style="top:12px; text-align:right; color:white; bgcolor:black" >
			<button {{action "logout"}} class="btn btn-sm" style="background:black">Logout</button>
		</li>
{{else}}

	{{#nav-link-to 'login' }}<a href="">Login</a>{{/link-to}}
	
{{/if}}

